/* To-Do-Styles.css */
body {
 background: #C0C0C0;
 font-family: Arial, Verdana, sans-serif;
}
.lined-bg {
	height: 400px;
	left: 30%;
	margin: -140px 0 0 -152px;
	position: absolute;
	top: 50%;
	width:302px;
}
hr {
  height: 1px;
  margin: 0;
  min-height: 1px;
}


span {
  background: #ecf0f1;
  display: block;
  width: 363px;
  height: 46px;
  margin-left: -32px;
}

#to-do-item {
  border: none;
  outline: none;
  height: 25px;
  width: 270px;
  font-size: 14px;
  background: #ecf0f1;
  margin-left: 35px;
}

#addItem {
  font-weight: bold;
  font-size: 16px;
  padding: 7px;
  background: #ecf0f1;
  border: none;
}

.to-do-list-container {
	background: -webkit-linear-gradient(top, #aaa, #fff 2%);
	background: -moz-linear-gradient(top, #aaa, #fff 2%);
	background: -o-linear-gradient(top, #aaa, #fff 2%);
	background: -ms-linear-gradient(top, #aaa, #fff 2%);
	background: linear-gradient(top, #aaa, #fff 2%);
	-webkit-background-size: 100% 50px;
	-moz-background-size: 100% 50px;
	background-size: 100% 50px;
	border-radius: 5px;
	-webkit-box-shadow: 0 1px   0 rgba(0,   0,   0,   0.200),
	0 3px   0 rgba(255, 255, 255, 1.0),
	0 4px   0 rgba(0,   0,   0,   0.15),
	0 6px   0 rgba(255, 255, 255, 1.0);
	font-size: 14px;
	padding: 40px 32px;
	width: 300px;
}

.to-do-list-container h2 {
	color: #5e5e5e;
	font-size: 25px;
  line-height: 19px;
	font-weight: bold;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
  line-height: 40px;
}

.to-do-list-container input[type=checkbox] {
	cursor: pointer;
	position: relative;
	visibility: hidden;
}

.to-do-list-container input[type="checkbox"]:after {
	border: 1px solid #166B94;
	border-radius: 3px;
	color: #fff;
	content: "";
	display: block;
	height: 14px;
	line-height: 14px;
	position: absolute;
	text-align: center;
	visibility: visible;
	width: 16px;
}

.to-do-list-container input[type=checkbox]:checked:after {
	border: 1px solid #979797;
	color: #979797;
	content: "x";
}

.to-do-list-container input[type=checkbox]:checked + label {
	color: #979797;
	font-weight: normal;
	text-decoration: line-through;
}

.to-do-list-container label {
	color: #660000;
	font-weight: bold;
	margin-left: 10px;
  line height: 10px;
}

.to-do-list-container button {
  float: right;
  padding: 5px;
  margin:5px 0 0 7px;
}
